@using PetShop.ViewModel;
@model CategoryViewModel;

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Detalles de Usuarios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            color: #fff;
            padding: 10px;
        }

        .container {
            margin: 0 auto;
            padding: 10px;
            max-width: 1000px;
        }

        .user-table {
            margin-bottom: 20px;
        }

        .user-table th,
        .user-table td {
            padding: 8px;
        }

        .user-table th {
            background-color: #f5f5f5;
            border-bottom: 1px solid #ddd;
        }

        .user-table tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .user-table tbody tr:hover {
            background-color: #f5f5f5;
        }

        .user-table .btn-group {
            margin-top: 5px;
        }

        .btn {
            color: #fff;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color 0.3s ease-in-out;
            display: inline-block;
            padding: 10px 20px;
            text-decoration: none;
            font-size: 14px;
            margin-inline: 5px;
        }

        .btn-primary:hover {
            background-color: #053e7a;
            border-color: #053e7a;
        }

        .btn-success:hover {
            background-color: #0a3b1f;
            border-color: #0a3b1f;
        }

        .btn-danger:hover {
            background-color: #5e1c1c;
            border-color: #5e1c1c;
        }

    </style>

</head>
<body>
    <div class="container">
        <table class="table user-table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Category[0].Name)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Category) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                           <div class="btn-group">
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="container">
            <a asp-action="Create" class="btn btn-primary btn-add-product">Agregar una categoría</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>



