@using Microsoft.AspNetCore.Identity;
@using PetShop.ViewModel;
@using System.Web;

@model RoleCreateViewModel
@{
    ViewData["Title"] = "Create";
}

    <style>
        .add-product-form {
            max-width: 800px;
            margin: 0 auto;
        }

        .form-group label {
            font-weight: bold;
            font-size: 16px;
            font-family: Arial, sans-serif;
        }

        .form-group input[type="text"],
        .form-group textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 14px;
            font-family: Arial, sans-serif;
        }

        .form-group .btn {
            display: inline-block;
            margin-top: 10px;
            font-size: 16px;
            font-family: Arial, sans-serif;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
        }

    </style>

    <div class="container">
        <div class="add-product-form">
            <h2 style="font-family: Arial, sans-serif;">Agregar categoría</h2>
            <form asp-action="Create">
                <div class="form-group">
                    <label asp-for="RoleName" class="control-label"></label>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Agregar" class="btn btn-primary" />
                    <a asp-action="Index" value="Volver" class="btn btn-secondary">Volver</a>
                </div>

            </form>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}