@model PetShop.ViewModel.OrderCreateViewModel

<h2>Crear Orden de Compra</h2>

@using (Html.BeginForm())
{

    <div class="form-group">
        @Html.LabelFor(model => model.products)
        @Html.DropDownListFor(model => model.products, new SelectList(Model.products, "Id", "Make", "Name"), "-- Seleccione un producto --", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label asp-for="quantity">Cantidad:</label>
        <input asp-for="quantity" class="form-control" />
        <span asp-validation-for="quantity" class="text-danger"></span>
    </div>

    
    <button type="submit" class="btn btn-primary">Crear</button>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}